<!DOCTYPE html>
<html>
<head>
  <title>客服中心</title>
  <meta charset="utf-8">
  <meta content="telephone=no" name="format-detection">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" type="image/x-icon" href="images/common/favicon.ico">
  <link rel="stylesheet" href="{{css}}"/>
</head>
<body class="bg-f5">
  <div class="container">
    
  </div>
  <script type="text/javascript" src="//static.udache.com/gulfstream/webapp/js/didi.new.js"></script>
  <script type="text/javascript" src="{{js}}"></script>
</body>
</html>
